.news-container {
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding: 20px;
}

.news-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 15px;
    width: calc(33% - 40px); /* Adjusts the width to fit three items per row with margins */
    background-image: url(../assets/newback.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transition: box-shadow 0.3s ease;
}
    /* border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
} */

.news-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.news-icon {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.news-title {
    font-size: 1.2em;
    margin: 0;
}

.news-source, .news-authors {
    font-size: 0.9em;
    color: #555;
}

.news-link {
    color: #007bff;
    text-decoration: none;
}

.news-link:hover {
    text-decoration: underline;
}
